<% @devices = current_user.family.devices.order("id asc").all
		if !@devices.nil? && !current_user.admin?
			array = Array.new
			for device in @devices
				device.user_id = device.user_id.split(',')
				if device.user_id.include?(current_user.id.to_s)
					array.push device
				end
			end
			@devices = array.sort_by {|a| a.id}
		end %>
<% if @devices.present? %>
<table class="table table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Device name</th>
		<th>State</th>
		<th>Control</th>
	</tr>
	<% count = 0 %>
<% for device in @devices %>
<tr>
	<td><%= count+=1 %></td>
	<td><%= link_to device.name, device %></td>
	<!-- <td><%= device.state %></td> -->
	<% if device.state %>
	<td> On </td>
	<% else %>
	<td> Off </td>
	<%end%>
	<% if device.state %>
	<td><%= link_to "Turn off", {:controller => 'devices',:action => 'state_change',:id => device.id}, remote: true, class: "btn btn-danger" %></td>
	<% else %>
	<td><%= link_to "Turn on",{ :controller => 'devices', :action => 'state_change',:id => device.id}, :remote => true, class: "btn btn-primary" %></td>
	<% end %>
</tr>
<% end %>
<% else %>
No devices added yet!
<% end %>