<% @devices = current_user.family.devices.all %>
<% if @devices.present? %>
<table class="table table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Device name</th>
		<th>State</th>
		<th>Control</th>
	</tr>
	<% count = 0 %>
<% for device in @devices %>
<tr>
	<td><%= count+=1 %></td>
	<td><%= link_to device.name, device %></td>
	<!-- <td><%= device.state %></td> -->
	<% if device.state %>
	<td> On </td>
	<% else %>
	<td> Off </td>
	<%end%>
	<% if device.state %>
	<td><%= link_to "Turn off", device, :action => :state_change, :method => :post,:remote=>true, class: "btn btn-danger" %></td>
	<% else %>
	<td><%= link_to "Turn on", device, :action => :state_change, :method => :post,:remote=>true, class: "btn btn-primary" %></td>
	<% end %>
</tr>
<% end %>
<% else %>
No devices added yet!
<% end %>