<h6>Last updated at <%= @sensors.first.updated_at.in_time_zone("Chennai").strftime(" %I:%M%p %-d %B %Y")%></h6>
<% if @sensors.present? %>

<% for sensor in @sensors %>
<% if sensor.name=="LPG Gas Sensor" || sensor.name=="CO2 Gas Sensor"%>
<div class="container1">
  <% if sensor.name=="CO2 Gas Sensor"%>
  <h3>CO<sub>2</sub> Gas Sensor</h3>
  <% else %>
	<h3><%= sensor.name %></h3>
  <% end %>
    <div class="de">
        <div class="den">
        	<% if sensor.value ==1%>
          <% if sensor.name=="LPG Gas Sensor" %>
             <% flash.discard(:error)
                flash[:error]="LPG leak detected "+Time.now.in_time_zone("Chennai").strftime("at %I:%M%p")+"!"%>
             <%else%>
              <%flash.discard(:alert)
                flash[:alert]="Something was burning at "+Time.now.in_time_zone("Chennai").strftime("at %I:%M%p")+"!"%>
             <%end%>
        	<div class="dene1">
          </div>
            <% else %>
            <% if sensor.name=="LPG Gas Sensor" %>
             <% flash.discard(:error)%>
             <%else%>
              <%flash.discard(:alert)%>
             <%end%>
          <div class="dene2">
          </div>
          <% end %>
        </div>
    </div>
</div>
<% else %>
<% sensor.value=sensor.value.round(1) %>
<% value = sensor.value.to_s.split('.') %>
<div class="container1">
	<h3><%= sensor.name %></h3>
    <div class="de">
        <div class="den">
          <div class="dene">
            <div class="denem">
              <div class="deneme">
                <%=value[0].to_s%><span>.<%=value[1].to_s%></span><% if sensor.name == "Temperature"%>
                <strong>&deg;C</strong>
                <% else %>
                <strong>%</strong>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<% else %>
No sensors added yet!
<% end %>
</table>