<% if @sensors.present? %>
<table class="table table-hover table-condensed">
	<tr>
		<th>#</th>
		<th>Sensor name</th>
		<th>Value</th>
		<th>State</th>
	</tr>
	<% count = 0 %>
<% for sensor in @sensors %>
<tr>
	<td><%= count+=1 %></td>
	<td><%= link_to sensor.name, sensor %></td>
	<td><%= sensor.value %></td>
	<% if sensor.state %>
	<td> On </td>
	<% else %>
	<td> Off </td>
	<%end%>
	
</tr>
<% end %>
<% for sensor in @sensors %>
<% if sensor.name=="LPG Gas Sensor" || sensor.name=="CO2 Gas Sensor"%>
<div class="container1">
	<h3><%= sensor.name %></h3>
    <div class="de">
        <div class="den">
        	<% if sensor.value ==1%>
          <% flash[:error]="LPG leak detected "+Time.now.in_time_zone("Chennai").strftime("at %I:%M%p")+"!" %>
        	<div class="dene1">
          </div>
            <% else %>
            <% flash.discard(:error) %>	
          <div class="dene2">
          </div>
          <% end %>
        </div>
    </div>
</div>
<% else %>
<% sensor.value=sensor.value.round(1) %>
<% value = sensor.value.to_s.split('.') %>
<div class="container1">
	<h3><%= sensor.name %></h3>
    <div class="de">
        <div class="den">
          <div class="dene">
            <div class="denem">
              <div class="deneme">
                <%=value[0].to_s%><span>.<%=value[1].to_s%></span><% if sensor.name == "Temperature"%>
                <strong>&deg;</strong>
                <% else %>
                <strong>%</strong>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<% else %>
No sensors added yet!
<% end %>
</table>